<%- include('header') -%>
<body>
<div class="container">
    <%- include('logout') -%>
    <div class="row pb-5">
        <div class="col-11 border-bottom border-4 border-dark">
            <div class="row justify-content-around">
                <div class="col-6">
                    <div class="row">
                        <div class="col-5">
                            <h1>
                                <% if (!isItMe) { %><%= user.lastname %> <%= user.firstname %>
                                <% } %>
                                <% if (isItMe) { %>Adatlap
                                <% } %>
                            </h1>
                        </div>
                        <div class="col-3 align-self-center">
                            <a type="button" class="btn btn-secondary" <% if (!isItMe && !isAdmin) { %>hidden
                                    <% } %>
                               href="/user/edit/<%= user._id %>">Szerkesztés</a>
                        </div>
                        <div class="col-2 align-self-center">
                            <a type="button" class="btn btn-secondary" <% if (!isItMe && !isAdmin) { %>hidden
                                    <% } %>
                               href="/user/del/<%= user._id %>">Törlés</a>
                        </div>
                        <div class="col-2 align-self-center">
                            <a type="button" class="btn btn-secondary" <% if (isItMe) { %>hidden
                                    <% } %>
                               href="/issues/<%= user._id %>">Hibajelentései</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 text-end">
                    <a type="button" class="btn btn-light rounded-0  <% if (isItMe) { %>disabled<% } %>"
                       href="/profile/<%= userId %>">Profile</a>
                    <a type="button" class="btn btn-light rounded-0" href="/issues"
                       aria-disabled="true">Hibajelentések</a>
                    <a type="button" class="btn btn-light rounded-0" href="/issues/<%= userId %>">Saját
                        hibajelentéseim</a>
                    <a type="button" class="btn btn-light rounded-0" href="/users">Felhasználók</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-11">
            <div class="row">
                <div class="col-6">
                    <div class="row pb-5"><h4>E-mail cím: <%= user.email %></h4></div>
                    <div class="row py-5"><h4>Vezetéknév: <%= user.lastname %></h4></div>
                    <div class="row py-5"><h4>Keresztnév: <%= user.firstname %></h4></div>
                    <div class="row py-5"><h4>Hibajelentések száma: <%= issues.length %></h4></div>
                </div>
                <div class="col-6">
                    <% if (issues.length !== 0) { %>
                        <div class="row">
                            <div class="col">
                                <div class="row pb-4 pt-5">
                                    <span>&#129001; Foglalkozott hibajelentései: <%= issues.filter(issue => issue.status).length%></span>
                                </div>
                                <div class="row">
                                    <span>&#128997; Függőben lévő hibajelentései: <%= issues.filter(issue => !issue.status).length%></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="piechart"></div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('footer') -%>
<% if (issues.length !== 0) { %>
    <style>
        .piechart {
            margin-top: 30px;
            display: block;
            position: absolute;
            width: 400px;
            height: 400px;
            border-radius: 50%;
            background-image: conic-gradient(
                    mediumseagreen 0 <%= 360*(issues.filter(issue => issue.status).length / issues.length) %>deg,
                    red 0 <%= 360*(issues.filter(issue => !issue.status).length / issues.length) %>deg
            );
        }

        body,
        .piechart {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
<% } %>